{{ define "content" }}

<form action="/users" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter name" required class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter email" required class="form-control">
    </div>

    <div class="form-group">
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" placeholder="Enter occupation" required class="form-control">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" required class="form-control">
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{{ end }}