{{ define "content" }}

<h2 class="mb-4">List of Campaign</h2>

<a href="/campaigns/new" class="btn btn-primary mb-3"><i class="fa fa-plus"></i> New Campaign</a>

<div class="card mb-4">
    <div class="card-body">
        <table class="table mb-0">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Short Description</th>
                    <th>Goal Amount</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .campaigns }}
                <tr>
                    <td>
                        {{ if .CampaignImages }}
                            <img width="60" src="/{{ (index .CampaignImages 0).FileName }}" class="img-fluid img-thumbnail">
                        {{ end }}
                    </td>
                    <td>{{ .Name }}</td>
                    <td>{{ .ShortDescription }}</td>
                    <td>{{ .GoalAmountFormatIDR }}</td>
                    <td><a href="/campaigns/show/{{ .ID }}"><i class="fa fa-search"></i><a></td>
                    <td><a href="/campaigns/edit/{{ .ID }}"><i class="fa fa-edit"></i><a></td>
                    <td><a href="/campaigns/image/{{ .ID }}"><i class="fa fa-camera"></i><a></td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

{{ end }}